<table>
	<tr>
		<th colspan="2">Transfer to Account</th>
	</tr>
	<tr class="indented">
		<th>Source Account</th>
		<td>{{partial properties.SourceAccount}}</td>
	</tr>
	<tr class="indented">
		<th>Target Account</th>
		<td>{{partial properties.TargetAccount}}</td>
	</tr>
	<tr class="indented">
		<th>Currency</th>
		<td>{{partial properties.Currency}}</td>
	</tr>
	<tr class="indented">
		<th>Amount</th>
		<td>{{partial properties.Amount}}</td>
	</tr>
	<tr class="indented">
		<th>Prevent If Unable To Pay</th>
		<td>{{partial properties.PreventIfUnableToPay}}</td>
	</tr>
	<tr class="indented">
		<th>Infobox On Success</th>
		<td>{{partial properties.InfoboxOnSuccess}}</td>
	</tr>

</table>