<table>
	<tr>
		<th colspan="2">Pay</th>
	</tr>
	<tr class="indented">
		<th>Target</th>
		<td>{{partial properties.Target}}</td>
	</tr>
	<tr class="indented">
		<th>Target Bank Account</th>
		<td>{{partial properties.TargetBankAccount}}</td>
	</tr>
	<tr class="indented">
		<th>Currency</th>
		<td>{{partial properties.Currency}}</td>
	</tr>
	<tr class="indented">
		<th>Amount</th>
		<td>{{partial properties.Amount}}</td>
	</tr>
	<tr class="indented">
		<th>Prevent If Unable To Pay</th>
		<td>{{partial properties.PreventIfUnableToPay}}</td>
	</tr>
	<tr class="indented">
		<th>Infobox On Success</th>
		<td>{{partial properties.InfoboxOnSuccess}}</td>
	</tr>

</table>