<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    {{include "head"}}
  </head>

  <body>
  <section class="section">
    <div class="container">
      {{include "nav"}}

      <div class="tabs is-toggle">
        <ul>
          <li><a href=".">Collections</a></li>
          <li class="is-active"><a href="#">Constitutions</a></li>
          <li><a href="./electionprocesses.html">Election Processes</a></li>
          <li><a href="./titles.html">Titles</a></li>
          <li><a href="./demographics.html">Demographics</a></li>
          <li><a href="./laws.html">Laws</a></li>
        </ul>
      </div>

      <div class="content">
        <p class="title is-3">All Constitutions</p>
        <ul>
          {{#each constitutions}}
          <li>
            <a href="./collections/{{collection}}/{{set}}/constitution.html">{{name}}</a>
            <a href="./collections/{{collection}}/{{set}}"><span class="tag">{{collection}}/{{set}}</span></a>
          </li>
          {{/each}}
        </ul>
      </div>

      {{#if amendments.length}}
      <div class="content">
        <p class="title is-3">All Amendments</p>

        <ul>
          {{#each amendments}}
          <li>
            <a href="./collections/{{collection}}/{{set}}/constitution.html">{{name}}</a>
            <a href="./collections/{{collection}}/{{set}}"><span class="tag">{{collection}}/{{set}}</span></a>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

    </div>

  </section>
  </body>
</html>