<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    {{include "head"}}
  </head>

  <body>
  <section class="section">
    <div class="container">
      {{include "nav"}}

      <div class="tabs is-toggle">
        <ul>
          <li><a href="../../../">Collections</a></li>
          <li><a href="../../../constitutions.html">Constitutions</a></li>
          <li><a href="../../../electionprocesses.html">Election Processes</a></li>
          <li><a href="../../../titles.html">Titles</a></li>
          <li class="is-active"><a href="../../../demographics.html">Demographics</a></li>
          <li><a href="../../../laws.html">Laws</a></li>
        </ul>
      </div>


      <div class="content">
        <h1 class="title is-1">Demographic</h1>
        <h1 class="title is-2">{{demographic.name}} <a href="../../../collections/{{collection.name}}/{{set.name}}"><span class="tag">{{collection.name}}/{{set.name}}</span></a></h1>
        <h2 class="subtitle is-5">Description: {{demographic.description}}</h2>



        {{#with demographic.properties}}
        <div>
          <table>
            <tr>
              <th>Backup Owner</th>
              <td>{{ecoref BackupOwner}}</td>
            </tr>

            <tr>
              <th>Conditions</th>
              <td class="card-list">
                {{#each Conditions}}
                  <div class="card">{{partial this}}</div>
                {{/each}}
              </td>
            </tr>

            <tr>
              <th>Wages</th>
              <td>{{partial Wages}}</td>
            </tr>
            <tr>
              <th>Wages Source Bank Account</th>
              <td>{{ecoref WagesSourceBankAccount}}</td>
            </tr>
          </table>
        </div>
        {{/with}}


        <div>
        {{json_toggle demographic }}
        </div>
      </div>




    </div>
  </section>

  </body>
</html>