<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    {{include "head"}}
    
  </head>

  <body>
  <section class="section">
    <div class="container">
      {{include "nav"}}

      <div class="tabs is-toggle">
        <ul>
          <li><a href="../../../">Collections</a></li>
          <li><a href="../../../constitutions.html">Constitutions</a></li>
          <li class="is-active"><a href="../../../electionprocesses.html">Election Processes</a></li>
          <li><a href="../../../titles.html">Titles</a></li>
          <li><a href="../../../demographics.html">Demographics</a></li>
          <li><a href="../../../laws.html">Laws</a></li>
        </ul>
      </div>

      <div class="content">
        <h1 class="title is-1">Election Process</h1>
        <h1 class="title is-2">{{electionprocess.name}} <a href="../../../collections/{{collection.name}}/{{set.name}}"><span class="tag">{{collection.name}}/{{set.name}}</span></a></h1>
        <h2 class="subtitle is-5">Description: {{electionprocess.description}}</h2>

            <table >
              <tbody>
                <tr>
                  <th>Voters</th>
                  <td>
                    {{{ecoref electionprocess.properties.Voters}}}
                  </td>
                </tr>

                <tr>
                  <th>Vetoers</th>
                  <td>
                    {{{ecoref electionprocess.properties.Vetoers}}}
                  </td>
                </tr>

                <tr>
                  <th>How to Proceed if Elections End In A Tie</th>
                  <td>
                    {{electionprocess.properties.HowToProceedIfElectionsEndInATie}}
                  </td>
                </tr>


                <tr>
                  <th>Maximum Election Hours</th>
                  <td>
                    {{electionprocess.properties.MaximumElectionHours}}h
                  </td>
                </tr>


                <tr>
                  <th>Minimum Percent of Eligible Voters Required</th>
                  <td>
                    {{electionprocess.properties.MinimumPercentOfEligibleVotersRequired}}%
                  </td>
                </tr>

                <tr>
                  <th>Percent of All Voters to Instant Win</th>
                  <td>
                    {{electionprocess.properties.PercentOfAllVotersToInstantWin}}%
                  </td>
                </tr>

                <tr>
                  <th>Percent of All Voters to Instant Lose</th>
                  <td>
                    {{electionprocess.properties.PercentOfAllVotersToInstantLose}}%
                  </td>
                </tr>

                <tr>
                  <th>End Election Early When This Percent Have Voted</th>
                  <td>
                    {{electionprocess.properties.EndElectionEarlyWhenThisPercentHaveVoted}}%
                  </td>
                </tr>

                <tr>
                  <th>Minimum Days Between Elections Of This Type</th>
                  <td>
                    {{electionprocess.properties.MinimumDaysBetweenElectionsOfThisType}}
                  </td>
                </tr>

                <tr>
                  <th>Anonymous Voting</th>
                  <td>
                    {{{checkbox electionprocess.properties.AnonymousVoting}}}
                  </td>
                </tr>

              </tbody>

            </table>

      </div>

      {{json_toggle electionprocess}}

    </div>
  </section>
  </body>
</html>