<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      .reference {
        color: rgb(115,225,113);
        font-weight: bold;
      }

      .card-list .card {
          margin-bottom: 1em;
      }
      .json-preview {
        font-size: 10pt;
      }
      tr.indented th {
        padding-left: 2em;
      }

      .if-then-block {
        padding: 0.5em;
        border: 1px solid blue;
      }
    </style>

    <script>
      function json_toggle(evt) {
        const targetId = evt.target.getAttribute("data-targetid")
        const el = document.getElementById(targetId)
        el.style.display = el.style.display == "block" ? "none" : "block";
      }
    </script>
  </head>

  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Eco Law Archive
      </h1>
      <h1 class="subtitle">
        An archive of implemented <a target="_blank" href="https://play.eco">ECO</a> civics: Constitution, Laws, Election Process, Titles and Demographics
      </h1>


      <div class="tabs is-toggle">
        <ul>
          <li><a href="/">Collections</a></li>
          <li><a href="/constitutions.html">Constitutions</a></li>
          <li><a href="/electionprocesses.html">Election Processes</a></li>
          <li><a href="/titles.html">Titles</a></li>
          <li><a href="/demographics.html">Demographics</a></li>
          <li class="is-active"><a href="/laws.html">Laws</a></li>
        </ul>
      </div>

      <div class="content">
        <h1 class="title is-1">Law</h1>
        <h1 class="title is-2">{{law.name}} <span class="tag">{{collection.name}}/{{set.name}}</span></h1>
        <h2 class="subtitle is-5">Description: {{law.description}}</h2>


      <div class="card-list">
        {{#each law.properties.Sections}}
        <div class="content">
            <p class="title is-5">Section {{index1 @index}}: {{properties.Title}}</p>
            <p class="subtitle is-6">{{properties.UserDescription}}

            <div class="columns">
              <div class="column is-one-third card-list">
                <p class="title is-5">Triggers</p>
                {{#each properties.Triggers}}
                <div class="card">
                    <table class="table">
                      <tr>
                        <th>Trigger</th>
                        <td>{{lastdot properties.Trigger.value}}</td>
                      </tr>

                      {{#each properties.Configs}}
                        {{partial this}}
                      {{/each}}

                    </table>

                    <div>
                    {{json_toggle this "trigger" ../properties.Title @index }}
                    </div>
                </div>
                {{/each}}
              </div>

              <div class="column is-two-thirds card-list">

                {{#each properties.IfThenBlocks}}
                <div class="if-then-block"> 

                  <div class="columns">
                    <div class="column is-one-half">
                      <p class="title is-5">If  <span class="tag">{{properties.If.properties.Comparison}}</span></p>
                      {{#each properties.If.properties.List}}
                      <div class="card">
                        {{partial this}}

                      </div>
                      {{/each}}
                    </div>

                    <div class="column is-one-half">
                      <p class="title is-5">Then</p>
                      {{#each properties.Then}}
                      <div class="card">
                        <div class="card-content">
                          <pre><code>{{json this}}</code></pre>
                        </div>
                      </div>
                      {{/each}}
                    </div>

                  </div>
                  <div>
                  {{json_toggle this "if" ../properties.Title @index }}
                  </div>
                </div>
                {{/each}}


              </div>


            </div>
        </div>
        {{/each}}
      </div>


      </div>

      <div class="content">
        <p class="title is-4">JSON</p>
        <pre><code>{{{json law}}}</pre></code>
      </div>


    </div>
  </section>
  </body>
</html>