<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    {{include "head"}}
  </head>

  <body>
  <section class="section">
    <div class="container">
      {{include "nav"}}

      <div class="tabs is-toggle">
        <ul>
          <li class="is-active"><a href="/">Collections</a></li>
          <li><a href="/constitutions.html">Constitutions</a></li>
          <li><a href="/electionprocesses.html">Election Processes</a></li>
          <li><a href="/titles.html">Titles</a></li>
          <li><a href="/demographics.html">Demographics</a></li>
          <li><a href="/laws.html">Laws</a></li>
        </ul>
      </div>

      <div class="columns">
        <div class="column is-one-quarter">

          <aside class="menu">
            <p class="menu-label">
              Collections
            </p>
            <ul class="menu-list">
              {{#each collections}}
                <li><a>{{name}}</a>
                  <ul>
                    {{#each sets}}
                    <li><a 
                      href="/collections/{{../name}}/{{name}}" 
                      class="{{#if is_active}}is-active{{/if}}">{{name}}</a></li>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}

            </ul>

          </aside>

        </div>

        <div class="column card-list">

          <p class="title is-2">{{collection.name}} / {{set.name}}</p>

            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="title is-4">Constitution</p>
                  <ul>
                    {{# each set.Constitution}}
                      <li><a href="{{filename}}.html">{{name}}</a></li>
                    {{/each}}
                    {{# each set.ConstitutionalAmendment}}
                      <li><a href="{{filename}}.html">{{name}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="title is-4">Demographics</p>
                  <ul>
                    {{# each set.Demographic}}
                      <li><a href="{{filename}}.html">{{name}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="title is-4">Election Processes</p>
                  <ul>
                    {{# each set.ElectionProcess}}
                      <li><a href="{{filename}}.html">{{name}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="title is-4">Laws</p>
                  <ul>
                    {{# each set.Law}}
                      <li><a href="{{filename}}.html">{{name}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>



            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="title is-4">Titles</p>
                  <p class="title is-6">Elected</p>
                  <ul>
                    {{# each set.ElectedTitle}}
                      <li><a href="{{filename}}.html">{{name}}</a></li>
                    {{/each}}
                  </ul>

                  {{#if set.AppointedTitle.length}}
                  <p class="title is-6">Appointed</p>
                  <ul>
                    {{# each set.AppointedTitle}}
                      <li><a href="{{filename}}.html">{{name}}</a></li>
                    {{/each}}
                  </ul>
                  {{/if}}

                </div>
              </div>
            </div>


        </div>

      </div>

    </div>
  </section>

  </body>
</html>